.button {
  color: var(--button-text);
  font-family: var(--font-primary);
  border-radius: 0.5rem;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease-out, color 0.3s ease-out;
  width: auto;
  align-items: center;
  font-size: 1.4rem;
}

.button-sm {
  padding: 0.5rem 1rem;
}

.button-md {
  padding: 0.75rem 1.5rem;
}

.button-lg {
  padding: 1rem 1.75rem;
}

.icon-start {
  margin-right: 0.5rem;
}

.icon-end {
  margin-left: 0.5rem;
}

/* primary */
.button-primary {
  background-color: var(--button-primary-background);
}

.button-primary:hover {
  background-color: var(--button-primary-hover);
}

.button-primary:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--button-primary-focus);
}

.button-primary:disabled {
  background-color: var(--button-primary-disabled);
  color: var(--button-text-disabled);
  cursor: default;
}

/* secondary */
.button-secondary {
  background-color: var(--button-secondary-background);
}

.button-secondary:hover {
  background-color: var(--button-secondary-hover);
}

.button-secondary:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--button-secondary-focus);
}

.button-secondary:disabled {
  background-color: var(--button-secondary-disabled);
  color: var(--button-text-disabled);
  cursor: default;
}

/* tertiary */
.button-tertiary {
  background-color: var(--button-tertiary-background);
  box-shadow: inset 0px 0px 0px 2px var(--button-tertiary-border);
}

.button-tertiary:hover:not(:disabled) {
  background-color: var(--button-tertiary-hover);
  box-shadow: inset 0px 0px 0px 2px var(--button-tertiary-hover-border);
}

.button-tertiary:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--button-tertiary-focus);
}

.button-tertiary:disabled {
  background-color: var(--button-tertiary-disabled);
  color: var(--button-text-disabled);
  cursor: default;
}

.button-navbar {
  background-color: var(--button-primary-background);
  width: 100%;
  padding: 0rem !important;
  border-radius: 0;
  font-size: 1.6rem !important;
  margin: 0;
}
