.button {
  color: var(--color-primary);
  font-family: var(--font-primary);
  font-weight: 500;
  font-style: normal;
  border-radius: 0.8rem;
  text-align: center;
  box-shadow: 2px 2px 2px 1px var(--black);

  cursor: pointer;

  transition: background 0.3s ease-out, color 0.3s ease-out;

  /* responsive */

  min-width: 10rem;
  padding: 0.5rem 0;
  align-items: center;
  font-size: 1.6rem;
  margin-right: 1rem;
}

.button--primary {
  background-color: var(--blue-200);
  border: 1px solid var(--blue-200);
}

.button--primary:hover {
  background-color: var(--blue-100);
  border: 1px solid var(--blue-100);
}

.button--secondary {
  background-color: var(--black-100);
  border: 1px solid var(--black-100);
}

.button--secondary:hover {
  background-color: var(--black-025);
  border: 1px solid var(--black-025);
}

.button--danger {
  background-color: var(--red-500);
  border: 1px solid var(--red-500);
}

.button--danger:hover {
  background-color: var(--red-400);
  border: 1px solid var(--red-400);
}

.button--navbar {
  width: 100%;
  padding: 0rem !important;
  border-radius: 0;
  font-size: 1.6rem !important;
  margin: 0;
}

@media only screen and (max-width: 1024px) {
  .button {
    /* responsive */

    min-width: 0.8rem;
    padding: 1rem;

    font-size: 1.3rem;
    line-height: 2.2rem;
  }

  .button--compact {
    /* responsive */

    padding: 0.6rem 1rem;

    font-size: 1.3rem;
    line-height: 2rem;
  }
}
