.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 1rem;
  background-color: var(--content-background);
}

.card-title {
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
  border-bottom: 2px solid var(--button-primary-background);
  background-color: var(--content-title);
}

.card-content {
  padding: 1rem;
}

@media only screen and (max-width: 1024px) {
  .cards {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}