.page-layout {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  width: 100%;
}

.page-layout-content {
  flex: 1;
  flex-basis: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;

  margin-top: 57px;
  max-width: 120rem;
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  .page-layout-content {
    margin-bottom: 50px;
  }
}
