@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&family=Inter:wght@400;500;600;700&family=Space+Grotesk:wght@400;500;600&display=swap");

/* Theme */

:root {
  /* fonts */
  --font-primary: "Inter", sans-serif;
  --font-secondary: "Space Grotesk", sans-serif;
  --font-mono: "Fira Code", monospace;

  /* background colors */
  --background: hsl(0, 0%, 0%);
  --nav-background: hsl(0, 0%, 4%);

  /* primary text colors */
  --color-primary: hsl(210, 17%, 82%);
  --color-secondary: hsl(212, 9%, 58%);

  /* content panel colors */
  --content-background: hsl(0, 0%, 4%);
  --content-title: hsl(220, 12%, 10%);

  /* button text colors */
  --button-text: hsl(210, 17%, 82%);
  --button-text-disabled: hsl(240, 5%, 61%);

  /* button primary */
  --button-primary-background: hsl(245, 80%, 67%);
  --button-primary-focus: hsl(245, 37%, 37%);
  --button-primary-hover: hsl(245, 37%, 37%);
  --button-primary-disabled: hsl(246, 39%, 49%);

  /* button secondary */
  --button-secondary-background: hsl(230, 8%, 14%);
  --button-secondary-focus: hsl(245, 37%, 37%);
  --button-secondary-hover: hsl(231, 6%, 24%);
  --button-secondary-disabled: hsl(220, 6%, 9%);

  /* button tertiary */
  --button-tertiary-background: hsl(240, 3%, 7%);
  --button-tertiary-border: hsl(230, 8%, 14%);
  --button-tertiary-focus: hsl(245, 37%, 37%);
  --button-tertiary-hover: hsl(230, 8%, 14%);
  --button-tertiary-hover-border: hsl(234, 9%, 21%);
  --button-tertiary-disabled: hsl(220, 6%, 9%);

  /* text input */
  --text-input-label: hsl(246, 60%, 75%);
  --text-input-focus: hsl(245, 37%, 37%);
  --text-input-background: hsl(230, 8%, 14%);

  --text-input-label-disabled: hsl(246, 22%, 52%);
  --text-input-background-disabled: hsl(240, 9%, 6%);

  /* checkbox input */
  --checkbox-border-active: hsl(245, 29%, 27%);
  --checkbox-border-primary: hsl(245, 80%, 67%);
  --checkbox-disabled: hsl(234, 9%, 21%);
  --checkbox-disabled-inner: hsl(246, 39%, 49%);

  /* radio input */
  --radio-background: hsl(231, 6%, 24%);
  --radio-background-inner: hsl(245, 80%, 67%);
  --radio-background-disabled: hsl(240, 9%, 6%);
  --radio-background-disabled-checked: hsl(234, 9%, 21%);
  --radio-background-disabled-inner: hsl(246, 39%, 49%);

  /* theme colors */
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
}
